* {
  box-sizing: border-box;
}
html {
  font-family: 'Montserrat', sans-serif;
  color: $text-color;
}
body {
  overflow-x: hidden;
}
.document {
  width: 100vw;
  height: 100vh;
  background: $color-background;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page {
  width: 1176px;
  height: 770px;
  display: flex;
  justify-content: space-between;
}

.green {
  background-color: $green;
}
.blue {
  background-color: $blue;
}
.orange {
  background-color: $orange;
}
