* {
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
.page {
  width: 1440px;
  height: 1000px;
  background: #141b1c;
  padding: 115px 132px;
  display: flex;
  justify-content: space-between;
}

.green {
  background-color: $green;
}
.blue {
  background-color: $blue;
}
.orange {
  background-color: $orange;
}
