.price-card {
  height: 770px;
  width: 380px;
  background-color: $color-background-form;
  position: relative;
  overflow: hidden;
  &__title {
    margin: 0;
    padding-top: 33px;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    &-small {
      margin: 0;
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
    }
  }
  &__price {
    height: 105px;
    margin-top: 33px;
    font-weight: 700;
    font-size: 55px;
    line-height: 105px;
    text-align: center;
    &_green {
      background-color: $green;
    }
    &_blue {
      background-color: $blue;
    }
    &_orange {
      background-color: $orange;
    }
  }
  &__description {
    display: block;
    margin: 40px 26px;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
  }

  &__options-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 40px;

    &-item {
      display: flex;
      align-items: center;
      font-weight: 300;
      font-size: 15px;
      line-height: 18px;
      &:nth-child(odd) {
        background-color: $color-background-odd;
      }
    }
  }

  &__btn {
    height: 40px;
    width: 154px;
    left: 0px;
    top: 0px;
    border-radius: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: none;
    color: $text-color;
    margin: 40px 112px;
    text-align: center;
    &_green {
      background-color: $green;
    }
    &_blue {
      background-color: $blue;
    }
    &_orange {
      background-color: $orange;
    }
  }

  &__icon-marker {
    display: block;
    width: 15px;
    height: 13px;
    margin: 18px 22px;
    &_green {
      background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png');
    }
    &_blue {
      background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png');
    }
    &_orange {
      background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png');
    }
  }
}

.popular-banner {
  position: absolute;
  background-color: $color-background-popular;
  display: block;
  top: calc(44px - 12.5px);
  right: calc(-30px);
  transform: rotate(45deg);
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  width: 148px;
  height: 25px;
  text-align: center;
}
