$color-background: #141b1c;
$green: #5bb189;
$blue: #3a6ba5;
$orange: #ec632a;
$green-marker: "https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png)";
